@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-inter text-accent-black bg-white;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-montserrat;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}